<!--
html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }
-->

html {
    height: 100%;
  }
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .expand_content {
    flex: 1;
  }